<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForestReco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ForestReco.Properties.Settings>
            <setting name="forestFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="reftreeFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="outputFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="consoleVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="partitionStep" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="checkTreeFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="groundArrayStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="treeExtent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="treeExtentMultiply" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="avgTreeHeigh" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="exportTreeStructures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportInvalidTrees" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportRefTrees" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="assignRefTreesRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useCheckTreeFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportCheckTrees" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useReducedReftreeModels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filterPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoAverageTreeHeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportTreeBoxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorTrees" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="export3d" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="analyticsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="exportBitmap" serializeAs="String">
                <value>True</value>
            </setting>
        </ForestReco.Properties.Settings>
    </userSettings>
</configuration>